.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 60px;
    background: rgba(15, 23, 42, 0.95);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .navbar h2 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
  }
  
  .navbar ul {
    display: flex;
    align-items: center;
    gap: 35px;
    list-style: none;
  }
  
  .navbar ul li {
    color: #e2e8f0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .navbar ul li a{
    text-decoration: none;
    color: inherit;
  }
  .navbar ul li a:hover{
    color: #60a5fa;
  }
  
  .navbar ul li:hover {
    color: #60a5fa;
  }
  
  .navbar div {
    display: flex;
    gap: 12px;
  }
  
  .btn {
    padding: 10px 22px;
    border: 2px solid white;
    border-radius: 8px;
    background: transparent;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .btn:hover {
    background: white;
    color: #2563eb;
  }
  
  .login {
    background: #2563eb;
    border: none;
    color: white;
  }
  
  .login:hover {
    background: #1d4ed8;
    color: white;
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 15px;
      padding: 20px;
    }
  
    .navbar ul {
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .navbar h2 {
      font-size: 1.7rem;
    }
  
    .btn {
      padding: 8px 18px;
    }
  }
  @media (max-width: 992px) {
    .navbar {
      padding: 15px 30px;
    }
  
    .navbar ul {
      gap: 20px;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      gap: 15px;
      padding: 20px;
    }
  
    .navbar h2 {
      font-size: 1.8rem;
    }
  
    .navbar ul {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }
  
    @media (max-width: 768px) {
        .navbar div {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;
        }
      
        .btn {
          width: 120px;
        }
      }
  }
  
  @media (max-width: 480px) {
    .navbar ul li {
      font-size: 14px;
    }
  
    .btn {
      padding: 8px 15px;
      font-size: 14px;
    }
  }